<main
  class="h-full bg-white border border-dashed border-sky-500 border-8">
  <.flash_group flash={@flash} />
  {@inner_content}
  <.live_component
    module={ServiceComponent}
    id="svc_comp"
    service="aku" />
</main>
