<div
  id="toggles-container">
  <template
    shadowrootmode="open"
    shadowrootdelegatesfocus>
    <meta
      name="csrf-token"
      content={get_csrf_token()} />
    <link
      phx-track-static
      rel="stylesheet"
      href={"/toggles/assets/app.css"} />
    <root-toggles>
      {@inner_content}
    </root-toggles>
    <script
      phx-track-static
      type="text/javascript"
      src={"/toggles/assets/app.js"}></script>
  </template>
</div>